<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cz.blocshop.socketsforcordova" version="1.1.0">
    <name>SocketsForCordova</name>
    <description>
		This Cordova plugin provides JavaScript API, that allows you to communicate with server through TCP protocol.
		Currently we support these platforms: iOS, Android, WP8.
	</description>
    <license>Apache 2.0</license>
    <keywords>socket,sockets,network,tcp,cordova</keywords>

    <js-module src="socket.js" name="Socket">
        <clobbers target="window.Socket" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SocketsForCordova"> 
                <param name="android-package" value="cz.blocshop.socketsforcordova.SocketPlugin"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>  
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/Logging.java" target-dir="src/cz/blocshop/socketsforcordova" />
        <source-file src="src/android/src/cz/blocshop/socketsforcordova/Consumer.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketAdapter.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketAdapterImpl.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketAdapterOptions.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketPlugin.java" target-dir="src/cz/blocshop/socketsforcordova" />
		
    </platform>
    
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="SocketsForCordova">
                <param name="ios-package" value="SocketPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/SocketsForCordova/Classes/SocketPlugin.h" />
	    <source-file src="src/ios/SocketsForCordova/Classes/SocketPlugin.m" />

        <header-file src="src/ios/SocketsForCordova/Classes/SocketAdapter.h" />
        <source-file src="src/ios/SocketsForCordova/Classes/SocketAdapter.m" />

	    <!--<framework src="CoreGraphics.framework" />-->
    </platform>


    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="SocketsForCordova">
                <param name="wp-package" value="Blocshop.ScoketsForCordova.SocketPlugin"/>
            </feature>
        </config-file>

		<source-file src="src/wp8/src/SocketAdapter.cs" target-dir="src" />
		<source-file src="src/wp8/src/SocketAdapterOptions.cs" target-dir="src" />
		<source-file src="src/wp8/src/SocketExtensions.cs" target-dir="src" />
		<source-file src="src/wp8/src/SocketPlugin.cs" target-dir="src" />
		<source-file src="src/wp8/src/SocketEvent.cs" target-dir="src" />
		<source-file src="src/wp8/src/SocketStorage.cs" target-dir="src" />
    </platform>

        

</plugin>
